<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/recycle_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/recycle_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TUGAS_PAB">
        <activity
            android:name=".ui.nasabah.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        
        <activity
            android:name=".ui.nasabah.DashboardActivity"
            android:exported="false" />
        
        <activity
            android:name=".ui.admin.DashboardAdminActivity"
            android:exported="false" />
        
        <activity
            android:name=".ui.admin.CetakLaporanActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.nasabah.TarikSaldoActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.admin.DetailPersetujuanActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.nasabah.SetorSampahActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.nasabah.RiwayatTransaksiActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.nasabah.NotifikasiActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.nasabah.EdukasiLingkunganActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.nasabah.DetailArtikelActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.nasabah.ProfilActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.admin.MenuAdminActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.admin.DaftarPengajuanActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.admin.KelolaKategoriActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.admin.KelolaNasabahActivity"
            android:exported="false" />
    </application>

</manifest>